# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ilk
*.pdb
*.suo
/HelpersNN/Debug
/RobotNN/Debug
/TrainNN/Debug
/output/W2.csv
/output/W1.csv
/output/Valid.csv
/output/sigmaY.csv
/output/sigmaX.csv
/output/muY.csv
/output/muX.csv
/output/J.csv
/output/b2.csv
/output/b1.csv
*.opendb
/HelpersNN/x64/Debug
/RobotNN/x64/Debug
/TrainNN/x64/Debug
